.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Tablets  */
@media only screen and (max-width: 768px) {
  .portfolio__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 414px) {
  .portfolio__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
