:root {
  --background: #081c29;
  --font: #fff;
  --primary-color: #0074d9;
  --third-color: #0074d9;
  --secondary-color: #7fdbff;
  --test-color: #239589;
  --button-color: #00abf0;
  --hover-color: #1299d2;
  --script-font: 'Inconsolata', monospace;
  --heading-font: 'Montserrat', sans-serif;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 80px;
  & .skill__details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem 0;
  }

  & .skill__name {
    font-family: var(--script-font);
    font-size: 22px;
    padding: 10px 0;
  }
}
