:root {
  --background: #081c29;
  --font: #fff;
  --primary-color: #0074d9;
  --third-color: #0074d9;
  --secondary-color: #7fdbff;
  --test-color: #239589;
  --button-color: #00abf0;
  --hover-color: #1299d2;
  --script-font: 'Inconsolata', monospace;
  --heading-font: 'Montserrat', sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .about__text {
    text-align: justify;
    font-family: var(--script-font);
    line-height: 2;
    font-size: 22px;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .about .about__text {
    width: 100%;
    line-height: 2;
    text-align: justify;
  }
}

@media only screen and (max-width: 414px) {
  .about .about__text {
    width: 100%;
    text-align: justify;
    word-spacing: -2px; /* Decrease the spacing slightly */
  }
}
